* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #caf0f8;
    font-family: "Roboto", sans-serif; /* fuente de la pagina */
}

img {
    max-width: 100%;
    border: 1px solid black;
}

/* clase bootstrap */

.div-imagen {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.transparente {
    color: transparent;
}



/* HEADER */


.texto-nav-header{
    /*color: black;*/
    color: white;
}

.texto-nav-header:hover{
    color: lightgray;
}

/* no los aplico directamente en la etiqueta porque son 2 juntas*/

.fondo-header{
    background-color: #0096c7;
}
.fondo-footer{
    background-color: #caf0f8;
}

/* MAIN*/

main {
    background-color: #90e0ef;;
}

.ajuste-imagen {
    height: 400px;
    width: 300px;
}

.container-main {
    display: flex;
    flex-direction: row; /* tambien esta column */
    align-items: center; /* acomodar segun el tamaño de las cajas*/
    display: flex;
    flex: 0 1 300px;
    flex-wrap: wrap;
}

.container-main-imagenes {
    width: 100%; /* Todo el ancho de la pag */
    justify-content: center; /* como se van a acomodar (space-around) */
}

.container-main-videos {
    width: 100%; /* Todo el ancho de la pag */
    justify-content: center; /* como se van a acomodar (space-around) */
}

form {
    justify-content: center;
    background-color: #48cae4;
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
}