
$color-texto-header:white;
$color-texto-header-hover:lightgray;

header{
    max-width: 100%;
}

.texto-header{
    color: $color-texto-header;
}

.texto-header:hover{
    color: $color-texto-header-hover;
}

.fondo-header{
    background-color: map-get($colores, color-header);
}
.fondo-footer{
    background-color: map-get($colores, color-body-footer);
}