main {
    background-color: map-get($colores, color-main);
}

.container-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    display: flex;
    flex: 0 1 300px;
    flex-wrap: wrap;
}

form {
    justify-content: center;
    background-color: #48cae4;
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
}