main {
    background-color: map-get($colores, color-main);
}

.center {
    position: flex;
    text-align: center;
}

.div-ul-main {
    width: 150px;

    ul{
        text-align: left; list-style: outside;
    }
}

form {
    justify-content: center;
    background-color: #48cae4;
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
}

.mapouter {
    position: flex;
    text-align: center;
    height: 300px;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 300px;
    width: 100px;
}