main {
    background-color: map-get($colores, color-main);
    display: flex;
    flex-direction: column;
}

.center {
    position: flex;
    text-align: center;
}

.contenedor-ajustado{
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.div-ul-main {
    width: 150px;

    ul{
        text-align: left; list-style: outside;
    }
}

form {
    justify-content: center;
    background-color: #48cae4;
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
}