.div-imagen {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.container-multimedia {
    width: 100%;
    justify-content: center;
}

.ajuste-imagen {
    height: 400px;
    width: 300px;
}